@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Audiowide&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  background-color: #111111;
}
html {
  scroll-behavior: smooth;
}
/* Apply to the entire document or a specific element */
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: darkred #000000; /* Dark red thumb on a dark track */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 25px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
  background: #000000; /* Dark background for the track */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: rgb(159, 1, 1); /* Dark red color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #000000; /* Adds a border matching the track for a clean look */
}

::-webkit-scrollbar-thumb:hover {
  background: #ac1616; /* Slightly lighter dark red when hovered */
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}
.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}